/* Responsive Layout */
/* Small Divises */

.pictures {
  display: grid;
  grid-template-rows: 10% 90%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px #cccccc;
}

.pictures-title {
  font-weight: bold;
  align-self: center;
}

.pictures-display {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}

.left-top-one { grid-area: 1 / 1 / 2 / 3; }
.left-top-two { grid-area: 2 / 1 / 3 / 2; }
.left-top-three { grid-area: 2 / 2 / 3 / 3; }
.center-top { grid-area: 1 / 3 / 3 / 5; }
.right-top { grid-area: 1 / 5 / 3 / 7; }
.left-center { grid-area: 3 / 1 / 5 / 3; }
.center-center-one { grid-area: 3 / 3 / 5 / 4; }
.center-center-two { grid-area: 3 / 4 / 4 / 5; }
.center-center-three { grid-area: 4 / 4 / 5 / 5; }
.right-center { grid-area: 3 / 5 / 5 / 7; }
.left-bottom { grid-area: 5 / 1 / 7 / 3; }
.center-bottom { grid-area: 5 / 3 / 7 / 5; }
.right-bottom-one { grid-area: 5 / 5 / 6 / 6; }
.right-bottom-two{ grid-area: 6 / 5 / 7 / 6; }
.right-bottom-three { grid-area: 5 / 6 / 7 / 7; }

@media only screen and (max-width: 600px) {
  .pictures {
    height: 400px;
  }
}

@media only screen and (min-width: 600px) {
  .pictures {
    height: 600px;
  }
}
/* Small Divises */

/* Medium divises */
@media only screen and (min-width: 768px) {
  .pictures {
    height: 800px;
  }
}

@media only screen and (min-width: 992px) {
  .pictures {
    height: 600px;
  }
}

/* Medium divises */

/* Large divises */
@media only screen and (min-width: 1200px) {
  .pictures {
    height: 700px;
  }
}
