.post-header {
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 10px;
}

.delete-post-button-wrapper {
  text-align: end;
}

.delete-post-button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.delete-post-icon {
  font-size: 2.3rem;
}

.post-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.post-date {
  font-size: .9rem;
  color: #6a6c6d;
  display: block;
}

.post-text-area {
  min-height: 100px;
  padding: 10px;
}

.likes-comments {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}

.like-icon {
  font-size: 1.7rem;
}

.like-division {
  padding: 10px 0;
  border-top: solid 1px #9b9d9e;
  border-bottom: solid 1px #9b9d9e;
}

.add-like {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-like-button {
  border: none;
  background-color: #FFFFFF;
  border-radius: 10px;
  color: #6a6c6d;
  font-weight: bold;
  width: 100%;
  height: 42px;
}
.add-like-button:hover {
  background-color: #eef0f1;
}

.comments-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.commnets-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.comment-input {
  border-radius: 20px;
  background-color: #eef0f1;
  border: none;
  color: #6a6c6d;
  font-weight: bold;
  width: 100%;
  height: 42px;
  padding: 10px 10px 10px 20px;
}

.comments-area-input {
  margin: 10px 0;
}

.post-image-container {
  width: 100%;
}
/* Responsive Layout */
/* Small Divises */
@media only screen and (max-width: 600px) {
  .view-posts {
    min-height: 230px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .view-posts {
    min-height: 230px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Small Divises */

/* Medium divises */
@media only screen and (min-width: 768px) {
  .view-posts {
    min-height: 230px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .view-posts {
    min-height: 230px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Medium divises */

/* Large divises */
@media only screen and (min-width: 1200px) {
  .view-posts {
    min-height: 230px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #cccccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* Large divises */