/* Responsive Layout */
/* Small Divises */
@media only screen and (max-width: 600px) {
  .overall-container { padding: 0; }
  .home-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body {
    grid-area: 2 / 1 / 9 / 7;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .display {
    width: 100%;
  }
  .posting {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .overall-container { padding: 0; }
  .home-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body {
    grid-area: 2 / 1 / 9 / 7;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .display {
    width: 100%;
  }
  .posting {
    width: 100%;
  }
}
/* Small Divises */

/* Medium divises */
@media only screen and (min-width: 768px) {
  .overall-container { padding: 0; }
  .home-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body {
    grid-area: 2 / 1 / 9 / 7;
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
  }
  .display {
    width: 100%;
  }
  .posting {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .overall-container { padding: 0; }
  .home-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body {
    grid-area: 2 / 1 / 9 / 7;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .display {
    width: 50%;
  }
  .posting {
    width: 50%;
  }
}

/* Medium divises */

/* Large divises */
@media only screen and (min-width: 1200px) {
  .overall-container { padding: 0 300px; }
  .home-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .body {
    grid-area: 2 / 1 / 9 / 7;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .display {
    width: 50%;
  }
  .posting {
    width: 50%;
  }
}

/* Large divises */
