/* Responsive Layout */
.header {
  grid-area: 1 / 1 / 2 / 7;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  box-shadow: 5px 5px 5px #cccccc;
  background: rgb(255, 255, 255);
}
.profile-picture {
  height: 70%;
}
.user-info {
  height: 30%;
}
/* Small Divises */
@media only screen and (max-width: 600px) {
  .overall-container { padding: 0; }

  .header {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  .overall-container { padding: 0; }

  .header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}
/* Small Divises */

/* Medium divises */
@media only screen and (min-width: 768px) {
  .overall-container { padding: 0; }

  .header {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 992px) {
  .overall-container { padding: 0; }

  .header {
    height: 650px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

/* Medium divises */

/* Large divises */
@media only screen and (min-width: 1200px) {
  .overall-container { padding: 0 300px; }


  .header {
    height: 750px;
    font-size: 3rem;
    font-weight: bold;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5256696428571428) 51%,
      rgba(71, 67, 67, 1) 99%
    );
    box-shadow: 5px 5px 5px #cccccc;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
}

/* Large divises */